.search-header .column {
    display: flex;
    justify-content: center;
}

.search-header {
    margin-top: 30px
}


.search-header h1{
    font-size: 2em;
}

.search-header .input {
    max-width: 20% !important;
}

.search-header #searchinput {
    max-width: 50% !important;
}

.search-header .distance {
    min-width: 5%;
}

.search-header strong {
    color: white !important;
    font-size: 1.5em
}